<footer class="site-footer">
  <img src="assets/img/footer__pic.jpg" alt="" class="footer__pic">
  <div class="container">
    <div class="footer-wrap">
      <a href="#/" class="header-logo header-logo--footer">
        <svg xmlns="http://www.w3.org/2000/svg" width="131" height="55" viewBox="0 0 131 55"><defs><style>.a{fill:#452268;font-size:36px;font-family:SegoeUI, Segoe UI;opacity:0.78;}</style></defs><text class="a"><tspan x="0" y="39">Victorya</tspan></text></svg>
      </a>
      <nav class="footer-menu">
        <a href="#/" class="header-menu__link header-menu__link--active">Menu</a>
        <a href="#/" class="header-menu__link">Package</a>
        <a href="#/" class="header-menu__link">About us</a>
        <a href="#/" class="header-menu__link">Contact us</a>
      </nav>
    </div>
  </div>
</footer>