<!-- главный слайдер -->

<section class="site-section main-screen">
  <div class="container screen-wrap">
    <div class="screen-wrap-content">
      <h1 class="title-one main-screen__title">Good food choices are good investments.</h1>
      <p class="p-normal main-screen__par">There is a powerful need for symbolism, and that means the architecture must have something that appeals to the human heart.</p>
      <div class="main-screen-buttons">
        <a href="#/" class="main-btn main-btn--main-screen">Order Now</a>
        <div class="main-screen-watch">
          <p class="main-screen-watch__txt p-normal">Watch our story</p>
          <a href="#/" class="main-screen-watch__play main-link">play</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- первая секция -->

<section class="site-section about">
  <div class="container about-wrap">
    <div class="about-img">
      <img src="assets/img/about__pic.jpg" alt="about" class="about-img__pic">
    </div>
    <div class="about-heading">
      <h2 class="about-heading__title title-second">The best comfort food will always be greens, cornbread, and fried chicken.</h2>
      <p class="about-heading__txt p-normal">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
      <a href="#/" class="main-btn main-btn--about-heading">Know More About Us</a>
    </div>
  </div>
  <div class="about-wrap--second container">
    <div class="about-second-heading">
      <div class="about-heading">
        <h2 class="about-heading__title second-heading__title title-second">The best comfort food will always be greens, cornbread, and fried chicken.</h2>
        <p class="about-heading__txt second-heading__txt p-normal">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
        <a href="#/" class="main-btn main-btn--about-heading">Know More About Us</a>
      </div>
    </div>
    <div class="about-imgbox">
      <div class="about-imgbox__pic"></div>
      <div class="about-imgbox__pic"></div>
      <div class="about-imgbox__pic"></div>
      <div class="about-imgbox__pic"></div>
    </div>
  </div>
</section>

<!-- триггер -->

<section class="site-section trigger">
  <div class="container trigger-wrap">
    <div class="trigger-content">
      <h2 class="title-second title-second--white">When a man's stomach is full it makes no difference whether he is rich or poor.</h2>
      <p class="p-normal p-normal--white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
      <a href="#/" class="main-screen-watch__play main-screen-watch__play--transporent main-link">play</a>
      <p class="p-normal p-normal--watch">Watch our story</p>
    </div>
  </div>
</section>

<!-- продукты -->

<section class="site-section products">
  <div class="container">
    <div class="products-heading">
      <h2 class="title-second products__title">Explore Our Foods</h2>
      <p class="p-normal">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
    </div>
    <div class="products-wrap">
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__1.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__2.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__3.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__4.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__5.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
      <a href="#/" class="products-item">
        <img src="assets/img/products-item__6.jpg" alt="" class="products-item__pic">
        <div class="products-item-heading">
          <div class="products-name">
            <p class="title-third products-name__title">Ham Sandwich</p>
            <p class="products-name__price">$10.50</p>
          </div>
          <p class="products-item__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
        </div>
      </a>
    </div>
    <div class="products-btn">
      <a href="#/" class="main-btn">Explore all food</a>
    </div>
  </div>
</section>
  
<!-- продукты -->

<section class="site-section recipes">
  <div class="recipes-wrap">
    <h2 class="title-second recipes__title">Our Popular Recipes</h2>
    <div class="recipes-carousel owl-carousel owl-theme">
      <div class="recipes-item">
        <img src="assets/img/recipe_1.jpg" alt="our recipe">
        <div class="recipes-item-descr">
          <h4 class="title-third recipes-item-descr__title">Crinkle Top Brownies</h4>
          <p class="p-normal recipes-item-descr__txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr….</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="recipes-item">
        <img src="assets/img/recipe_2.jpg" alt="our recipe">
        <div class="recipes-item-descr">
          <h4 class="title-third recipes-item-descr__title">Crinkle Top Brownies</h4>
          <p class="p-normal recipes-item-descr__txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr….</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="recipes-item">
        <img src="assets/img/recipe_3.jpg" alt="our recipe">
        <div class="recipes-item-descr">
          <h4 class="title-third recipes-item-descr__title">Crinkle Top Brownies</h4>
          <p class="p-normal recipes-item-descr__txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr….</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="recipes-item">
        <img src="assets/img/recipe_4.jpg" alt="our recipe">
        <div class="recipes-item-descr">
          <h4 class="title-third recipes-item-descr__title">Crinkle Top Brownies</h4>
          <p class="p-normal recipes-item-descr__txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr….</p>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
  </section>


